<div class="container col-md-10 col-md-offset-1">
	<div class="jumbotron">
	<div class="menu">

		<button class="menu-btn active" id="all_media">All media</button>
		<button class="menu-btn" id="movies">Movies</button>
		<button class="menu-btn" id="series">Series</button>

	</div>

	<div class="page-header"><h1></h1></div>
	</div>

	<div class="medias">

			
	</div>
</div>